* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background-color: #222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search {
    margin-left: 41px;
}

.header__acc {
    margin-left: 34px;
    margin-right: 34px;
}

.promo {
    /* padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);  */
    background: rgba(113, 103, 105, 0.08);
    display: flex;
}

.promo__left {
    width: 50%;
}

.promo__img {
    width: 70%; /*Оставить 50% если в promo поставить паддинги */
    margin-left: 200px;
}

.promo__right {
    width: 50%;
    background: #F1E4E6;
    display: flex;
    align-items: center;
    padding-left: 64px;
}

.promo_line_img {
    height: 92px;
    width: 12px;
}

.promo__content {
    margin-left: 16px;
}

.promo__heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo__text {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.promo__text_color {
    color: #F16D7F;;
}

.catalog {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.catalog__item {
    position: relative;
}

.catalog__item:not(:last-child) {
    margin-right: 30px;
}

.catalog__img {
    width: 100%;
}

.catalog_content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog_text {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.catalog_heading {
    font-size: 24px;
    line-height: 28px;
    color: #F16D7F;;
}

.catalog__trend {
    margin-top: 30px;
    position: relative;
}

.trend_img {
    width: 100%;
}

.fetured__text {
    text-align: center;
    margin-top: 97px;
}

.fetured_heading {
font-size: 30px;
line-height: 36px;
color: #222222;
}

.fetured_text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.fetured__content {
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.fetured__item {
    background: #F8F8F8;
    flex-grow: 1;
    flex-basis: 360px;
}

.fetured__img {
    width: 100%;
}

.fetured_content {
    margin-top: 25px;
    margin-left: 18px;
    margin-bottom: 20px;
    margin-right: 28px;
}

.fetured_heading_img {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.text_img {
    color: #5D5D5D;
}

.fetured_text_price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-top: 18px;
}

.container_button {
    display: flex;
    justify-content: center;
}

.button {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
    padding: 14px 38px;
    border: 1px solid #FF6A6A;
}

.footer {
    margin-top: 95px;
    background: #222224;
}

.footer_top {
    padding-top: 104px;
    padding-bottom: 104px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.footer_heading {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 25px;
}

.footer_text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    text-align: center;
    margin-top: 16px;
    width: 300px;
}

.footer_advantages {
    flex-grow: 1;
    flex-basis: 360px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_center {
    background-image: url(img/back_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 86px;
    padding-bottom: 156px;
}

.footer_feedback_text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.footer_feedback {
    width: 360px;
    display: flex;
    flex-direction: column;
}

.footer_img {
    margin-bottom: 30px;
}

.footer_subscribe {
    text-align: center ;
}

.footer_subscribe_heading {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}

.footer_subscribe_text {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

.entry_fild {
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    height: 49px;
    background: #E1E1E1;
    padding-left: 23px;
    padding-right: 64px;
    border-radius: 20px 0 0 20px;
    border: none;
}

.entry_fild:focus {
    outline: none;
}

.footer_button {
    height: 49px;
    background: #F16D7F;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 0 20px 20px 0;
    border: none;
    margin-left: -4px;
}

.footer_button:focus {
    outline: none;
}

.footer_bot {
    margin-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy_text {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer_social_img {
    background: #FFFFFF;
    padding-top: 9px;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: 7px;
}

.footer_social_img:not(:last-child) {
    margin-right: 7px;
}

